.dropZone {
  box-sizing: border-box;
  height: 200px;
  width: 200px;
  border: 1px solid #ccc;
  margin: 0 auto;
  margin-bottom: 20px;
}

.dragged{
  border: 1px dotted green;
}

.hightLight{
  background-color: rgb(184, 216, 151);
}